section.certif {
  @include flex(center, center);
  flex-direction: column;
  img {
    width: $Width;
    max-width: $MaxWidth;
  }
  div {
    margin: 20px 0;
    a {
      padding: 10px;
      border-radius: 4px;
      color: $itemsColor;
      border: 1px solid $itemsColor;
      text-decoration: none;
      font-weight: bold;
      background: $PrimaryColorMoreDarker;
    }
  }
}
