.skills {
  @include flex(center, center);
  flex-direction: column;
  margin-top: 20px;
  .title {
    h1 {
      color: $itemsColor;
      font-size: 35px;
      @media screen and (max-width: 500px) {
        font-size: 25px;
      }
    }
  }

  &-items {
    max-width: $MaxWidth;
    width: $Width;
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
    margin-top: 15px;
    h3 {
      padding: 5px 10px;
      font-size: 15px;
      background: $itemsColor;
      color: $PrimaryColorMoreDarker;
      border-radius: 2rem;
    }
  }
}
