*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-img {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-img img {
  width: 95%;
  max-width: 300px;
}
header .authorDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .authorDetails #authorName {
  font-size: 30px;
  color: #f1c40f;
  margin-bottom: 20px;
}
header .authorDetails .description {
  background: #2c3e50;
  max-width: 550px;
  width: 95%;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  line-height: 1.4;
}
header .authorDetails .description #descriptionText {
  color: #ecf0f1;
  opacity: 0.6;
  letter-spacing: 0.8px;
}
header .socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
header .socialMediaIcons .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #f1c40f;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
header .socialMediaIcons .icon a i {
  font-size: 30px;
  color: #2c3e50;
  transition: 550ms;
}

#overlay {
  background: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 150px;
  height: 150px;
  border: 5px solid #f1c40f;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border: 5px solid #f1c40f;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%, 60%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.skills .title h1 {
  color: #f1c40f;
  font-size: 40px;
}
.skills-items {
  max-width: 550px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px;
}
.skills-items h3 {
  padding: 5px 10px;
  font-size: 15px;
  background: #f1c40f;
  color: #2c3e50;
  border-radius: 2rem;
}

section.fbpages {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.fbpages h1 {
  font-size: 30px;
  color: #f1c40f;
}
section.fbpages .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
section.fbpages .pages a {
  text-decoration: none;
}
section.fbpages .pages a .page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}
section.fbpages .pages a .page img {
  width: 100px;
  margin-right: 15px;
  border-radius: 50%;
}
section.fbpages .pages a .page .pageName {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
section.fbpages .pages a .page .pageName b {
  color: #f1c40f;
  font-size: 25px;
}
section.fbpages .pages a .page .pageName p {
  color: #ecf0f1;
  opacity: 0.5;
}
section.fbpages .pages a .page .pageName p span {
  color: #f1c40f;
}

section.certif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.certif img {
  width: 95%;
  max-width: 550px;
}
section.certif div {
  margin: 20px 0;
}
section.certif div a {
  padding: 10px;
  border-radius: 4px;
  color: #f1c40f;
  border: 1px solid #f1c40f;
  text-decoration: none;
  font-weight: bold;
  background: #2c3e50;
}

section.projects {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.projects h1 {
  font-size: 30px;
  color: #f1c40f;
}
section.projects .projectsItems a {
  text-decoration: none;
}
section.projects .projectsItems a .project {
  max-width: 550px;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background: #233140;
  border: 1px solid #ecf0f1;
  color: #f1c40f;
}
section.projects .projectsItems a .project .project-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.projects .projectsItems a .project .project-name img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
section.projects .projectsItems a .project .project-name b {
  font-size: 25px;
}
section.projects .projectsItems a .project p {
  margin-top: 15px;
  text-align: center;
  color: #ecf0f1;
  opacity: 0.6;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #34495e;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.github,
.ig,
.fb,
.youtube,
.twitter,
.whatsapp {
  display: none;
}

/*# sourceMappingURL=style.css.map */
